.contact_section > div {
    background-color: var(--color-white-box);
    color: var(--color-dtext);
    padding: 30px;
    border-radius: 30px;
}

.contact_section input {
    background-color: var(--color-white-box);
}