footer {
    margin-top: 60px;
    background-color: var(--color-purple);
    padding: 20px;
}
footer > div {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 20px 0;
}
footer .footer__title {
    font-size: var(--font-xxl);
}

footer .footer__links div:first-child {
    display: flex;
    font-weight: bold;
}

footer .footer__links div:first-child ul:first-child {
    padding-right: 40px;
}

footer .footer__links div:last-child a {
    padding-right: 20px;
}